.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Ca commence là */

$kasa-red: #FF6060;
@mixin basic-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.header {
  max-width: 1240px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;

  >img {
    height: 68px;
  }

}

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 66px 0 30px 0;
  gap: 30px;

  >p {
    color: white;
    @include basic-font;
  }
}

.navbar {
  display:flex;
  gap: 57px;

  >a {
    @include basic-font;
    text-decoration: none;
    color: $kasa-red;
    font-size: 24px;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 223px;
  margin: 50px auto 38px auto;
  border-radius: 25px;
  width: 1240px;
  overflow: hidden;
  background-color: black;

  >img {
    flex-shrink:0;
    min-height:100%;
    opacity: 0.7;
  }

  >h1 {
    position: absolute;
    @include basic-font;
    font-size: 48px;
    color: white;
  }
}

.banner-img-container {
  border-radius: 25px;
}

.cards-background {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px;
  margin: 5px auto 50px auto;
  padding: 56px 50px 43px 50px;
  width: 1140px;
  background-color: #F7F7F7;
  border-radius: 25px;
}

.cards-background::after {
  content: "";
  flex: auto;
}

.background--card {
  display: flex;
  align-items: flex-end;
  width: 300px;
  height: 300px;
  background: linear-gradient(180deg, $kasa-red 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
  padding: 20px;

  >a {
    @include basic-font;
    font-size: 18px;
    color: white;
    text-decoration: none;
  }
}

.collapse {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 1013px;
  border-radius: 5px;
  margin: 15px auto;


  >div.collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $kasa-red;
    border-radius: 5px;
    border: 0px;
    padding: 15px;

    >p {
      @include basic-font;
      color: white;
      font-size: 32px;
      margin: 0;
    }

    >button {
      border: 0;
      background-color: $kasa-red;

      >img {
        margin: 0 6px;
        transform: rotate(0);
        transition: transform 300ms ease-in-out;
  
        &.open {
          transform: rotate(180deg);
        }
      }
    }

  }

  >div.collapse-body {
    background-color: #F7F7F7;
    padding: 15px;
    border-radius: 0 0 5px 5px;
    height: 0;
    transform: scaleY(0);
    transition: transform 300ms ease-in-out;
    transform-origin: top;

    &.open {
      height: auto;
      transform: scaleY(1);

    }

    >p {
      @include basic-font;
      color: $kasa-red;
      margin: 0;
    }
  }
}

.notFound{
  >.title {
    font-family: 'Montserrat', sans-serif;
    color: $kasa-red;
    font-style: normal;
    font-weight: 700;
    font-size: 288px;
    text-align: center;
    margin: 139px 0;
  }

  >p {
    @include basic-font;
    font-size: 36px;
    color: $kasa-red;
    text-align: center;
  }

  >a {
    @include basic-font;
    color: $kasa-red;
    font-size: 18px;
    display: block;
    text-align: center;
    margin: 139px 0;
  }
} 


.gallery {
  display: flex;
  height: 415px;
  width: 1240px;
  margin: 50px auto 24px auto;
  position: relative;



  >img {
    object-fit: cover;
    border-radius: 25px;
    height: 415px;
    width: 1240px;
    opacity: 0;
    position: absolute;

    &.active {
      opacity: 1;
    }
  }

  >.galleryNav {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    // left: 0; top: 0; right: 0; bottom: 0;


    >.leftArrow {
      position: absolute;
      top: calc(50% - 40px);
      left: 25px;

       &.hidden {
        display: none;
       }
    }

    >.rightArrow {
      position: absolute;
      top: calc(50% - 40px);
      right: 25px;

      &.hidden{
        display: none;
      }
    }

    >.pictureCounter {
      position: absolute;
      @include basic-font;
      color: white;
      text-align: center;
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);

      &.hidden {
        display: none;
      }
    }
  }

}

.logement-content {
  width: 1240px;
  margin: auto;

  >.logement-header {
    display: flex;

    >.logement-header-gauche {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;

      >h2{
        margin: 0;
        @include basic-font;
        color: $kasa-red;
        font-size: 36px;
        margin-top: 8px;
      }

      >p{
        @include basic-font;
        color: $kasa-red;
        font-size: 18px;
        margin: 5px 0;
      }

      >ul{
        display: flex;
        list-style-type: none;
        padding-inline: 0;
        gap: 10px;

        >li{
          background-color: $kasa-red;
          @include basic-font;
          color: white;
          border-radius: 10px;
          padding: 5px 30px;
        }
      }
    }

    >.logement-header-droite {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      flex: 1 1 auto;

      >.user {
        display: flex;
        align-items: center;

        >p{
          display: block;
          max-width: 100px;
          @include basic-font;
          color: $kasa-red;
          word-spacing: 3000px;
          text-align: right;
          line-height: 26px;
          margin: 0 10px 0 0;
        }

        >img{
          width: 64px;
          height: 64px;
          border-radius: 50%;
        }
      }

      >.rating {
        display: flex;
        gap: 10px;
        margin: 30px 0 0 0;
      }
    }
  }

  >.logement-collapses {
    display: flex;
    gap: 76px;

    >.collapse {
      flex: 1 1 auto;

      > div.collapse-body {
        padding: 25px 15px;
      }

      >.collapse-header p{
        font-size: 18px !important; 
      }

      >.collapse-body ul{
        list-style-type: none;
        padding-inline: 0;
        margin-block: 0;

        >li{
          @include basic-font;
          color: $kasa-red;
        }
      }
    }
  }

}