.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Ca commence là */

$kasa-red: #FF6060;
@mixin basic-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.header {
  max-width: 1240px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;

  >img {
    height: 68px;
  }

}

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 66px 0 30px 0;
  gap: 30px;

  >p {
    color: white;
    @include basic-font;
  }
}

.navbar {
  display:flex;
  gap: 57px;

  >a {
    @include basic-font;
    text-decoration: none;
    color: $kasa-red;
    font-size: 24px;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 223px;
  margin: 50px auto 38px auto;
  border-radius: 25px;
  width: 1240px;
  overflow: hidden;
  background-color: black;

  >img {
    flex-shrink:0;
    min-height:100%;
    opacity: 0.7;
  }

  >h1 {
    position: absolute;
    @include basic-font;
    font-size: 48px;
    color: white;
  }
}

.banner-img-container {
  border-radius: 25px;
}

.cards-background {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px;
  margin: 5px auto 50px auto;
  padding: 56px 50px 43px 50px;
  width: 1140px;
  background-color: #F7F7F7;
  border-radius: 25px;
}

.cards-background::after {
  content: "";
  flex: auto;
}

.background--card {
  display: flex;
  align-items: flex-end;
  width: 300px;
  height: 300px;
  background: linear-gradient(180deg, $kasa-red 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
  padding: 20px;

  >h2 {
    @include basic-font;
    font-size: 18px;
    color: white;
  }
}

.collapse {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 1013px;
  border-radius: 5px;
  margin: 15px auto;


  >div.collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $kasa-red;
    border-radius: 5px;
    border: 0px;
    padding: 15px;

    >p {
      @include basic-font;
      color: white;
      font-size: 32px;
      margin: 0;
    }

    >button {
      border: 0;
      background-color: $kasa-red;

      >img {
        margin: 0 6px;
        transform: rotate(0);
        transition: transform 300ms ease-in-out;
  
        &.open {
          transform: rotate(180deg);
        }
      }
    }

  }

  >div.collapse-body {
    background-color: #F7F7F7;
    padding: 15px;
    border-radius: 0 0 5px 5px;
    height: 0;
    transform: scaleY(0);
    transition: transform 300ms ease-in-out;
    transform-origin: top;

    &.open {
      height: auto;
      transform: scaleY(1);

    }

    >p {
      @include basic-font;
      color: $kasa-red;
      margin: 0;
    }
  }
}
